<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="maintable">
    <div id="input">
        <h2>Input</h2>
        <div id="inputdata">
            No data yet 
        </div>
        <div id="spec_input"></div>
        <script src="javascripts/input.js"></script> 
    </div>
    <div id="processor">
        <h2>Processor</h2>
        <select id="processorlist"></select>
        <button id="listprocessors"> Update </button>
        <button id="findprocessor"> Find Processor </button>
        <button id="runprocessor"> Run Processor </button>
        <div id="spec_output"></div>
        <script src="javascripts/processor.js"></script>
    </div>
    <div id="output">
        <h2>Output</h2>
    </div>
    <div id="visulisation">
      <h2>Visualisation</h2>
      <button id="visualise"> Visualise </button>
      <div id="visulisation-1">
      </div>
      <script src="javascripts/visualisation.js"></script>
    </div>
</div>

