<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="maintable">
    <div id="input">
        <h2>Input</h2>
        <div id="inputdata">
            No data yet 
        </div>
        <script src="javascripts/input.js"></script> 
    </div>
    <div id="processor">
        <h2>Processor</h2>
    </div>
    <div id="output">
        <h2>Output</h2>
    </div>
    <div id="visulisation">
        <h2>Visualisation</h2>
    </div>
</div>

